version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

backend:
  build: ./backend
  container_name: institute_backend
  restart: always
  ports:
    - "5000:5000"
  environment:
    MONGO_URI: "mongodb://mongo:27017/institute_app"
    JWT_SECRET: "supersecretkey"
  depends_on:
    - mongo


  frontend:
    build: ./frontend
    container_name: institute_frontend
    restart: always
    ports:
      - "80:3000"
    depends_on:
      - backend

volumes:
  mongo_data:
